Options +FollowSymlinks
RewriteEngine On

RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/q/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2&p3=$3&p4=$4&q=$5 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/q/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2&p3=$3&q=$4 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/q/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2&q=$3 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/q/([a-zA-Z0-9]+)/?$ index.php?p1=$1&q=$2 [QSA,L]

RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2&p3=$3&p4=$4 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2&p3=$3 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?p1=$1&p2=$2 [QSA,L]
RewriteRule ^/?([a-zA-Z0-9]+)/?$ index.php?p1=$1 [QSA,L]
